@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --culture: #F5F5F5;
  --timberwolf: #D6DBD2;
  --queen: #456990;
  --midnight: #0A014F;
  --capri: #30C5FF;
}

* {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
}