@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

* {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #e2e2e2;
  color: #ffffff;
}

#sectionTitle {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin: 2rem 0;  
  color: #ff00d4;  
}

.subTitles {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-image-slice: 1;
  padding: 10px;
  font-size: 1.3rem;
}

.subTitleDark {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgba(1, 1, 1, 0), rgba(1, 1, 1, 1), rgba(1, 1, 1, 0));
  border-image-slice: 1;
  padding: 10px;
  width: 15rem;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}