@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  --black: #141414;
  --white: rgb(245, 245, 245);
}

* {
  font-family: 'Comfortaa', cursive;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: var(--black);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: none !important;
  }
}

::-webkit-scrollbar {
  display: none;
}